

footer{
    background-color: #1f1f1f;
    padding: 70px 0;
    width: 100%;
    height: auto;
    z-index: 300;

}

ul{
    list-style: none;

}

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{

    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size:15px ;
    color: white ;
    text-transform: capitalize;
    margin-bottom: 35px; 
    font-weight: 500;
    position: relative;
}


.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #FA301E;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}


.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}


.footer-col ul li a{
    font-size: 13px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .link-social-media{
    display: flex;
    column-gap: 15px;

}

.footer-col .link-social-media a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 0 10px 10px 0;
    column-gap: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
    font-size: 20px;
}

.footer-col .link-social-media a:hover{
    color:#24262b ;
    background-color: white;
}


/* Especifico */


.contato-footer ul li a{
    display: flex;
    align-items: center;
    column-gap: 9px;

}
.contato-footer ul li a i{
    font-size: 19px;
}







/* Area Responsiva */



@media (max-width:767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:574px) {
    .footer-col{
        width: 100%;
    }
    
}